<html>
  <head>
  	<meta name="admin.active.section" content="atl.jira.proj.config"/>
  	<meta name="admin.active.tab" content="githubcommentprojectconfig"/>
    <title>$i18n.getText("github-commentor.projectconfig.menu.label")</title>
    <!--meta name="decorator" content="atl.admin" />
    <meta name="application-base-url" content="$applicationProperties.getBaseUrl()"-->
    $webResourceManager.requireResource("com.atex.jira.plugins.jira-github-comment-plugin:resources")
  </head>
  <body>
  <div>
    #if($success && $success == 'success')<span class="success" style="font-size: 1.2em;">$i18n.getText("github-commentor.projectconfig.success")</span>#end
    <form id="projectsubscribe" class="aui" method="POST">
      <div>
        <label for="hub.topic">$i18n.getText("github-commentor.projectconfig.topic")</label><br />
        <input type="text" id="hub.topic" name="hub.topic" class="text" value="$!projectconfig.topic" >
        #if($hub.topic && $hub.topic == 'error')<span class="error">$i18n.getText("github-commentor.projectconfig.error.topic")</span>#end
      </div>
      <div>
      	<input type="radio" id="hub.mode" name="hub.mode" value="subcribe" >
      	$i18n.getText("github-commentor.projectconfig.subscribe")
      	</input>
      	<input type="radio" id="hub.mode" name="hub.mode" value="unsubscribe" >
      	$i18n.getText("github-commentor.projectconfig.unsubscribe")
      	</input>
      </div>
      <div>
        <label for="hub.secret">$i18n.getText("github-commentor.projectconfig.secretkey")</label><br />
        <input type="text" id="hub.secret" name="hub.secret" class="text" value="$!projectconfig.secretKey" />
        #if($hub.secret && $hub.secret == 'error')<span class="error">$i18n.getText("github-commentor.projectconfig.error.secretkey")</span>#end
      </div>
      <div>
		<input name="hub.callback" type="hidden"  value="$callback" />
      </div>
      <div>
        <input type="submit" value="$i18n.getText("github-commentor.projectconfig.subscribe")" class="button">
      </div>
    </form>
    </div>
  </body>
</html>